input {
  background-color: #eeeeee;
  border: 1px solid black;
  color: black;
  border-top: none;
  border-right: none;
  border-left: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 0;
}

input::-webkit-input-placeholder {
  color: black;
}

.list-group {
  background-color: none;
}
.list-group-item {
  background-color: none;
}

